{
    "singleQuote": true,
    "semi": false,
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "html"
            }
        }
    ],
    "plugins": ["prettier-plugin-tailwindcss"]
}
